p{
    text-align: center;
    color: royalblue;
}

body{
    background-color: whitesmoke;
}

.span1{
    text-align: right;
    background-color: lime;
}

.class1:hover{
    background-color: magenta;
    font-variant: small-caps;
}

.link1:visited{

    visibility: hidden;
    color: mediumblue;
}

/*This really selects the li siblings.
In this case, it selects the li siblings on any ol or ul*/
li:nth-child(2){
    color: red;
}

/*using the combinator we can designate to select the children of the list*/
ol.orderedlist1>:nth-child(2){
    color: royalblue;
}

/*any first unordered list sibling of an ordered list*/
ul + ol {
    background-color: orange;
}

/*any paragraph sibling of a span*/
span ~ p{
    background-color: red;
}

.table1{
    background-color:red;
    padding: 50%;
    border: 2px solid black;
    margin: 200;
    width: 300px;
}

.table{
    background-color: royalblue;
}